.main_container{
margin-left: 20px;
margin-top: 80px;
}
.link{
text-decoration: none;
}
.form-control{
width: 400px;
margin-left: auto;
margin-right: auto;
}

.sr-only{
padding: 10px;
width: 400px;
margin-left: auto;
margin-right: auto;
}
.form-signin{
padding: 100px;
}
.btn{
width: 90px;
font-size: 20px;
margin-top: 20px;
}


